.button1 {
    display: block;
    border-radius: 40px;
    color: aqua;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    display: block;
    width: 100px;
    
}
.button2 {
    display: block;
    background-color: lightgreen;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    color: white;

}
.button3 {
    display: block;
    background-color: blue;
    color: white;
    height: auto;
    width: auto;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: block;
}